<h1>Events list</h1>
<ul>
 
 <% @events.each do |event| %>
    <li>
      <%= event.name%>
      
      <%= event.description%>

      <%= link_to "show" ,:controller=>"events",:action=>'show',:id=>event%>
    </li>
    
 <% end %>
 
</ul>

<%= link_to 'new event', :controller=>'events', :action=>'new' %>